body {
  margin: 0;
  background-color: #242424;
  font-family: sans-serif;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
}

.nav-left a,
.nav-right a {
  margin-right: 25px;
  text-decoration: none;
  color: white;
  opacity: 0.7;
  cursor: pointer;
}

.nav-left a:hover {
  opacity: 1;
}

.active {
  border-bottom: 2px solid white;
  padding-bottom: 4px;
  opacity: 1;
}

.logo {
  margin-right: 20px;
  font-weight: bold;
}

.login {
  opacity: 0.8;
}

.hero-left h1 {
  font-size: 98px;
  line-height: 1.1;
  margin: 0;
  position: absolute;
  left: 248px;
  top: 321px;
}

.hero-left p {
  margin-top: 20px;
  max-width: 480px;
  position: absolute;
  left: 255px;
  top: 661px;
}

.hero-left button {
  margin-top: 25px;
  height: 60px;
  width: 200px;
  position: absolute;
  left: 255px;
  top: 740px;
  background-color: #E24E49;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.hero-left button:hover {
  background-color: #ff5c4d;
}

.hero-right {
  position: relative;
}

.card {
  border-radius: 32px;
  position: absolute;
}

.back {
  background-color: #E06A6A;
  position: absolute;
  left: 1005px;
  top: 300px;
  width: 509px;
  height: 548px;
}

.front {
  background-color: #E24E49;
  position: absolute;
  left: 871px;
  top: 367px;
  width: 548px;
  height: 566px;
}
  